@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  
  --clr-primary:#0079FF;
  --clr-primary-dimmed:#60ABFF;
  /* dark mode */
  --clr-dark-white: #FFFFFF;
  --clr-dark-black:#141D2F;
  --clr-dark-darkblue:#1E2A47;
  --clr-dark-blue: #90A4D4;
  
  /* light mode */
  --clr-light-greyblue:#697C9A;
  --clr-light-darkblue:#4B6A9B;
  --clr-light-dark: #2B3442;
  --clr-light-whitegrey: #F6F8FF;
  --clr-light-white: #FEFEFE;  
  
}

/*
  1. Use a more-intuitive box-sizing model.
  */
  *,
  *::before,
  *::after {
      box-sizing: border-box;
  }
  
  /*
  2. Remove default margin
  */
  * {
      margin: 0;
  }
  
  /*
  3. Allow percentage-based heights in the application
  */
  html,
  body {
      height: 100%;
  }
  
  /*
  6. Improve media defaults
  */
  img,
  picture,
  video,
  canvas,
  svg {
      display: block;
      max-width: 100%;
  }
  
  /*
  7. Remove built-in form typography styles
  */
  input,
  button,
  textarea,
  select {
      font: inherit;
  }
  
  /*
  8. Avoid text overflows
  */
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
      overflow-wrap: break-word;
  }
  
  /* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
  ul[role='list'],
  ol[role='list'] {
      list-style: none;
      padding: 0;
  }
  
  /*
    Typographic tweaks!
    4. Add accessible line-height
    5. Improve text rendering
  */
  
.container {
    --max-width: 1110px;
    --padding: 1.5rem;

    width: min(var(--max-width), 100% - (var(--padding) * 2));
    margin-inline: auto;
}


body {
  -webkit-font-smoothing: antialiased;
  background-color: var(--clr-light-whitegrey);
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.dark body {
  background-color: var(--clr-dark-black);
}