@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
  /* line-height: 1.5; */
  /* font-weight: 400; */
  /* color-scheme: light dark; */
  /* color: rgba(255, 255, 255, 0.87); */
  /* background-color: #242424; */
  /* font-synthesis: none; */
  /* text-rendering: optimizeLegibility; */
  /* -webkit-font-smoothing: antialiased; */
  /* -moz-osx-font-smoothing: grayscale; */
  /* -webkit-text-size-adjust: 100%; */
  
  --clr-primary:#0079FF;
  /* dark mode */
  --clr-dark-white: #FFFFFF;
  --clr-dark-black:#141D2F;
  --clr-dark-darkblue:#1E2A47;
  
  /* light mode */
  --clr-light-greyblue:#697C9A;
  --clr-light-darkblue:#4B6A9B;
  --clr-light-dark: #2B3442;
  --clr-light-whitegrey: #F6F8FF;
  --clr-light-white: #FEFEFE;  
  
}

/*
  1. Use a more-intuitive box-sizing model.
  */
  *,
  *::before,
  *::after {
      box-sizing: border-box;
  }
  
  /*
  2. Remove default margin
  */
  * {
      margin: 0;
  }
  
  /*
  3. Allow percentage-based heights in the application
  */
  html,
  body {
      height: 100%;
  }
  
  /*
  6. Improve media defaults
  */
  img,
  picture,
  video,
  canvas,
  svg {
      display: block;
      max-width: 100%;
  }
  
  /*
  7. Remove built-in form typography styles
  */
  input,
  button,
  textarea,
  select {
      font: inherit;
  }
  
  /*
  8. Avoid text overflows
  */
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
      overflow-wrap: break-word;
  }
  
  /* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
  ul[role='list'],
  ol[role='list'] {
      list-style: none;
      padding: 0;
  }
  
  /*
    Typographic tweaks!
    4. Add accessible line-height
    5. Improve text rendering
  */
  
.container {
    --max-width: 1110px;
    --padding: 1.5rem;

    width: min(var(--max-width), 100% - (var(--padding) * 2));
    margin-inline: auto;
}


body {
  -webkit-font-smoothing: antialiased;
  /* font-family: var(--font-primary); */
  background-color: #141D2F;
  color: var(--clr-dark-white);
  margin: 0;
  display: flex;
  place-items: center;
  place-content: center;
}

@media (prefers-color-scheme: light) {
  :root {
    /* color: var(--clr-dark-darkblue);
    background-color: var(--clr-dark-white); */
  }
  a:hover {
    /* color: #747bff; */
  }
  button {
    /* background-color: #f9f9f9; */
  }
}
